body {
  background-color: lightblue;
}

h1 {
  color: navy;
  margin-left: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}